# Python cache docker ignore
__pycache__/
*.pyc

.env/

# Git
.git
.gitignore

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store

# Model weights (optional)
models/
checkpoints/

# Node modules (if frontend exists)
node_modules/

# Testing
tests/

# IDE
.vscode/
.idea/
ui/
.venv
__pycache__
*.pyc
*.pyo
.git
.env
*.log